.login__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: #f7f7f7; */
  background-color: #6fb2d2;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  /* background-image: "url('/assets/login-bg.png')"; */
}
.login__container > h1 {
  font-size: 20px;
  font-weight: bold;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.login__container__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 40vw;
  height: 70vh;
  max-height: 400px;

  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.card__field__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.card__box {
  display: flex;
  flex-direction: column;
  width: 35vw;
}
.input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
}
input[type="text"],
input[type="password"],
input[type="email"],
.input,
.input::-webkit-input-placeholder {
  font-size: 11px;
  line-height: 3;
  font-family: "poppins";
}
#label {
  font-weight: semi-bold;
  font-size: 15px;
}
#icon-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#register {
  align-self: flex-end;
  cursor: pointer;
  font-size: 12px;
  color: #0e185f;
}
#button {
  margin-bottom: 20px;
  margin-top: 30px;
}
