.hrct {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}
.hrct__header {
  /* padding: 20px; */
}
.image__container {
  margin:50px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-evenly;
  padding:30px
}
